<div class = 'container-fullscreen' style = "background-image: url('https://res.cloudinary.com/duvckrs49/image/upload/v1544536408/day1.jpg');">
  <img src="https://res.cloudinary.com/duvckrs49/image/upload/v1544536977/Cocoon_Black.png" alt="Cocoon Logo" class = 'logo-cocoon'>
  <div class = 'text-comingsoon'>
    <h1> Coming Soon...</h1>
  </div>
</div>
